* {
    color: black;
    background-color: #FFDC9A;
    font-family: "Lato", sans-serif;
    margin: 0rem 0rem 2rem 0rem;
    padding: 0;
}

button {
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 10%;
}

.bigger-horizontal-margins {
    margin-left: 3rem;
    margin-right: 3rem;
}

.hide {
    display: none;
}

.checked {
    text-decoration: line-through;
    color:#1D6036;
}

/* Credit: https://codepen.io/gvissing/pen/BKmmpJ */
.stave {
    font-size: 0;
    background-image: linear-gradient(180deg, #999 0, #999 1px, transparent 1px, transparent 8px, #999 8px, #999 9px, transparent 9px, transparent 16px, #999 16px, #999 17px, transparent 17px, transparent 24px, #999 24px, #999 25px, transparent 25px, transparent 32px, #999 32px, #999 33px, transparent 33px);
    background-size: 100% 80px;
}

.measure {
    position: relative;
    display: inline-block;
    margin-bottom: 45px;
}

.title-text {
    color: #1D6036;
    font-size: 3em;
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
}

/* Source: https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

/*input form and its contents*/

form {
    border: black solid 2px;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    align-content: center;
}

form > input {
    border: none;
    font-size: 1.3em;
}

form.close {
    border: none;
    background-color: inherit;
}

form > button, form > button > * {
    background-color: #FFDC9A;
}

/*output and its contents*/

.grid {
    display: grid;
    width: 90vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: space-between;
    gap: 1rem 1.5rem;
}

article {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    align-items: baseline;
    justify-content: space-around;
    border: black solid 2px;
    background-color: white;
    padding: 0;
    box-shadow: 2px 1px 2px 1px;
}

article > * {
    align-items: baseline;
    margin-top: 1rem;
}

article > h2 {
    background-color: inherit;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    word-break: break-all;
    max-width: 30vw;
    font-size: inherit;
}



.arrowBox {
    display:inline-block;
    font-size: larger;
    border: black solid 2px;
    padding: 0.1rem;
}

input.checkboxes {
    width: 1.5rem;
    height: 1.5rem;
}

.cross{
    position: relative;
    background-color: inherit;
    font-family: inherit;
}



