* {
    color: black;
}

.hide {
    display: none;
}

.checked {
    text-decoration: line-through;

}

.stave {
    font-size: 0;
    background-image: linear-gradient(180deg, #999 0, #999 1px, transparent 1px, transparent 8px, #999 8px, #999 9px, transparent 9px, transparent 16px, #999 16px, #999 17px, transparent 17px, transparent 24px, #999 24px, #999 25px, transparent 25px, transparent 32px, #999 32px, #999 33px, transparent 33px);
    background-size: 100% 80px;
}

.measure {
    position: relative;
    display: inline-block;
    margin-bottom: 45px;
}
